# Atividade prática 4

**Nome:** Mateus Henrique Vieira Figueiredo

**Matrícula:** 4707

In [25]:
import pandas as pd
from scipy.stats import ttest_ind

## Questão 1

In [2]:
first_protocol = pd.read_csv("files/atraso_ie666.csv")
second_protocol = pd.read_csv("files/atraso_ia171.csv")

In [3]:
first_protocol.describe()

           278.03
count   99.000000
mean   185.859798
std     52.741770
min     54.960000
25%    153.850000
50%    178.450000
75%    228.440000
max    317.690000

In [4]:
second_protocol.describe()

           511.28
count   99.000000
mean   500.118990
std     23.996813
min    424.770000
25%    483.450000
50%    503.340000
75%    516.745000
max    558.330000

In [28]:
#  A hipótese nula seria que não há diferença significativa entre os atrasos de transmissão dos dois protocolos, 
# enquanto a hipótese alternativa seria que há diferença significativa entre eles.

t_stat, p_value = ttest_ind(first_protocol, second_protocol)

if p_value < 0.05:
    print("Rejeita a hipótese nula: há diferença significativa entre as médias")
else:
    print("Aceita a hipótese nula: não há diferença significativa entre as médias")

Rejeita a hipótese nula: há diferença significativa entre as médias

Através da comparação das médias e devio padrão, podemos concluir qual protocolo seria melhor (neste caso o ie666, baseado na análise dos dados). Da mesma forma, podemos realizar o teste de hipóteses para identificar se há ou não diferença significativa entre os dados, o que é verdadeiro.

## Questão 2

In [29]:
first_file = pd.read_csv("files/tempo_combinar.csv")
second_file = pd.read_csv("files/tempo_bitcomb.csv")

In [30]:
first_file.describe()

            8.82
count  99.000000
mean    9.548182
std     3.975723
min    -2.150000
25%     7.665000
50%     9.370000
75%    12.445000
max    18.400000

In [32]:
second_file.describe()

           11.92
count  99.000000
mean    8.711414
std     3.604167
min    -0.070000
25%     6.100000
50%     8.530000
75%    11.345000
max    17.200000

In [34]:
#  A hipótese nula seria que não há diferença significativa entre os tempos médios de execução dos algoritmos,
# enquanto a hipótese alternativa seria que há diferença significativa entre eles.

t_stat, p_value = ttest_ind(first_file, second_file)

if p_value < 0.05:
    print("Rejeita a hipótese nula: há diferença significativa entre as médias")
else:
    print("Aceita a hipótese nula: não há diferença significativa entre as médias")

Aceita a hipótese nula: não há diferença significativa entre as médias

Como podemos ver através do teste de hipóteses e um descrição dos dados, podemos concluir que não há diferença significativa
entre as médias, portanto não rejeitamos h0.